<div style="background-color: bisque; padding: 0 0 5px 5px; width: 423px;">
  <%= form_for @question, :url => questions_path do |f| %>

    <div>Title<br/>
      <%= f.text_field :title, :size => 50, :maxlength => 60 %></div>

    <div>Description<br/>
      <%= f.text_area :description, :cols => 50, :rows => 14 %></div>

    <div><%= f.submit "Post" %></div>

  <% end %>
</div>